@using Common.DTO
@model OrderDTO
@{
    ViewData["Title"] = "Details";
    var orderDetails = Model.OrderDetails.ToList();
    List<ProductDTO> products = ViewBag.Products ?? new List<ProductDTO>();
}

<h1>Details</h1>

<div>
    <h4>OrderDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipVia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipVia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Freight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Freight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipRegion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipCountry)
        </dd>
    </dl>
    <h4>Products</h4>
    @{
        var product = new ProductDTO();
    }
    <table class="table table-striped">
        <thead>
        <tr class ="row">
            <th class="col-sm-2">
                @Html.DisplayNameFor(_ => product.Id)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(_ => product.ProductName)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(_ => product.SupplierId)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(_ => product.CategoryId)
            </th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in products)
            {
                <tr class="row">
                    <td class = "col-sm-10">
                        @Html.DisplayFor(_ => item.Id)
                    </td>
                    <td class="col-sm-10">
                        @Html.DisplayFor(_ => item.ProductName)
                    </td>
                    <td class="col-sm-10">
                        @Html.DisplayFor(_ => item.SupplierId)
                    </td>
                    <td class="col-sm-10">
                        @Html.DisplayFor(_ => item.CategoryId)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
   @* @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }) |
    <a asp-action="Index">Back to List</a>*@
</div>
