@using Common.DTO
@model Common.DTO.OrderDTO

@{
    ViewData["Title"] = "Edit";
    var orderDetails = Model.OrderDetails.ToList();
    List<ProductDTO> products = ViewBag.Products ?? new List<ProductDTO>();
}

<h1>Edit</h1>

<h4>OrderDTO</h4>
<hr/>
<form asp-controller="Order" asp-action="Edit" asp-route-id="@Model.Id" method="POST">
    <div class="row">
        <div class="col-md-6">
           <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" disabled/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequiredDate" class="control-label"></label>
                <input asp-for="RequiredDate" class="form-control" />
                <span asp-validation-for="RequiredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippedDate" class="control-label"></label>
                <input asp-for="ShippedDate" class="form-control" />
                <span asp-validation-for="ShippedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipVia" class="control-label"></label>
                <input asp-for="ShipVia" class="form-control" />
                <span asp-validation-for="ShipVia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Freight" class="control-label"></label>
                <input asp-for="Freight" class="form-control" />
                <span asp-validation-for="Freight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipName" class="control-label"></label>
                <input asp-for="ShipName" class="form-control" />
                <span asp-validation-for="ShipName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipAddress" class="control-label"></label>
                <input asp-for="ShipAddress" class="form-control" />
                <span asp-validation-for="ShipAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipCity" class="control-label"></label>
                <input asp-for="ShipCity" class="form-control" />
                <span asp-validation-for="ShipCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipRegion" class="control-label"></label>
                <input asp-for="ShipRegion" class="form-control" />
                <span asp-validation-for="ShipRegion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipPostalCode" class="control-label"></label>
                <input asp-for="ShipPostalCode" class="form-control" />
                <span asp-validation-for="ShipPostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipCountry" class="control-label"></label>
                <input asp-for="ShipCountry" class="form-control" />
                <span asp-validation-for="ShipCountry" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            @for(int i = 0; i < Model.OrderDetails.Count; i++)
            {
                <h5>OrderDetail</h5>
                <div class="form-group">
                    <label class="form-label">UnitPrice</label>
                    <input asp-for="OrderDetails[i].UnitPrice" class="form-control"
                           value="@orderDetails[i].UnitPrice"/>
                    <span asp-validation-for="OrderDetails[i].UnitPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Discount</label>
                    <input asp-for="OrderDetails[i].Discount" class="form-control" value="@orderDetails[i].Discount">
                    <span asp-validation-for="OrderDetails[i].Discount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">ProductId</label>
                    <input asp-for="OrderDetails[i].ProductId"
                           type="number" class="form-control" value="@orderDetails[i].ProductId">
                    <span asp-validation-for="OrderDetails[i].ProductId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Quantity</label>
                    <input asp-for="OrderDetails[i].Quantity"
                           type="number" class="form-control" value="@orderDetails[i].Quantity">
                    <span asp-validation-for="OrderDetails[i].Quantity" class="text-danger"></span>
                </div>
            }
                
        </div>
    </div>
    <div class="row justify-content-center">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>


<div>
    <a asp-controller="Order" asp-action="Index">Back to List</a>
</div>